.NOM, body, html {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

a:any-link {
  color: #c8c8c8;
}

#particle-canvas, .fullscreen-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left-center-container {
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.horizontal-center-container, .center-container {
  position: relative;
  width: fit-content;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.vertical-center-container, .center-container {
  position: relative;
  height: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

canvas {
  background-color: black;
  position: relative;
  z-index: -5;
}

footer {
  position: absolute;
  text-align: center;
  font-size: 16px;
  margin-bottom: 4px;
  bottom: 0;
  left: 0;
  right: 0;
}

#controls{
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 100;
}

#controls > *{
    z-index: 200;
}